SERVER_PORT=3000
STATIC_PATH=/home/user/bitmap-utils/playground/client/dist # path to static folder files, generated using 'npm run build' on client
DB_BITMAP=/home/user/bitmap-utils-db/data/bitmap.db # path to db file