#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.sidebar {
  width: 200px;
  background-color: #ccc;
  padding: 10px;
}

.container {
  display: flex;
  background-color: #f7f7f7;
}

.content {
  flex: 1;
  padding: 20px;
}

.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.menu-item {
  border: solid 0px;
  border-bottom: solid 1px rgb(194, 194, 194);
  width: 100%;
  border-radius: 0%;
}

.menu-item:hover {
  background-color: blanchedalmond;
  border-bottom: solid 1px rgb(194, 194, 194);
  border-radius: 0%;
}

.menu-item-selected {
  background-color: rgb(254, 242, 223);
  color: rgb(192, 109, 1);
}

.menu-item:focus {
  outline: none;
}

.card {
  padding: 2em;
}

.code {
  background-color: #eeeeee;
  border: solid 1px rgb(190, 182, 182);
  width: 600px;
  text-align: left;
  padding: 20px
}

.code .comment {
  color: rgb(159, 159, 152);
}